<!DOCTYPE html>
<html>
  <head>
    <!--helpersの中のfull_titleの関数が呼ばれるその後、yieldを使って、代入されている-->
    <title><%= full_title(yield(:title)) %></title> 
    <%= render 'layouts/rails_default' %>
    <!--app/view/layouts/_shim.tml.rbのファイルを探してそこのものを読み込む。-->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
